* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Brandon bold';
  font-weight: bold;
  src: url("./Fonts/BrandonText-Bold.otf") format("opentype");
}

.parallax {
  /* Defining the height and perspective style properties 
  of an element will lock the perspective to its centre, 
  creating a fixed origin 3D viewport */
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallaxGroup {
  position: relative;
  height: 100vh; /* 100% la altura de la pantalla */
  transform-style: preserve-3d; /*Prevents the browser flattening the parallax__layer elements */
}

.parallaxLayer {
  /* Configured to fill the space of the container */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallaxLayer_foreground {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#group2 .parallaxLayer_foreground {
  /* background: #f3f3f3; */
  background: #eeeeee;
  color: #333333;
}

.parallaxLayer_background {
  background: 
    /* top to bottom */ 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.1)
    ),
    url('./Images/coverImg5.jpg'),
    center,
    no-repeat;
  background-size: cover;

  /* The scale factor can be calculated with 1 + (translateZ * -1) / perspective */
  -webkit-transform: translateZ(-1px) scale(2.015);
  transform: translateZ(-1px) scale(2.015);
}

.title {
  position: absolute;

  /* Porcentage calculado en relacion a la capa */
  left: 50%;
  top: 60%;
  
  /* Porcentage calculado en relacion al ancho y alto del texto */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /* Centra el texto en la capa */
}

#pageHeaderName {
  color: white;
  font-size: 5vw;
  font-family: 'Brandon bold';
  /* font-family: 'Passion One', cursive; */
  text-align: center;
}
#subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 2vw;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .parallaxLayer_background {
    background-position: center;
  }
  #pageHeaderName {
    font-size: 36px;
    text-align: right;
  }
  #subtitle {
    font-size: 18px;
  }
}

.container {
  /* font-family: 'Gentium Basic', serif; */
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

#sectionName {
  /* font-family: 'Passion One', cursive; */
  font-family: 'Brandon bold';
  text-align: center;
}
#sectionName:before, #sectionName:after {
  background-color: #1a1a1a;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 80px;
}
#sectionName:before {
  right: 0.25em;
  margin-left: -50%;
}
#sectionName:after {
  left: 0.25em;
  margin-right: -50%;
}

@media screen and (max-width: 768px) {
  #sectionName {
    font-size: 32px;
  }
  #sectionName:before {
    content: none;
  }
  #sectionName:after {
    display: block;
    left: 0;
    margin: 15px auto;
    position: relative;
    top: 0;
    width: 100px;
  }
}

@media screen and (max-width: 358px) {
  #sectionName {
    font-size: 28px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.sectionContent {
  padding: 20px 0 20px 0;
  justify-content: start;
}
.sectionContent .company {
  margin: 0;  
  font-family: 'Brandon bold'; /* font-family: 'Passion One', cursive; */
  font-size: 24px;
  color: royalblue;
  text-align: left;
}
.sectionContent .time {
  padding: 0;
  margin: 13px 0 8px 0;
  font-weight: bold;
  font-size: 18px;
  color: green;
}
.sectionContent .place {
  margin-bottom: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .sectionContent {
    justify-content: center;
  }
  .sectionContent .company {
    margin-top: 20px;
    font-size: 22px;
  }
  .sectionContent .time {
    font-size: 1rem;
  }
}

.contentImg {
  border-radius: 30px;
  /* filter: gray; IE5+
  -webkit-filter: grayscale(1); Webkit Nightlies & Chrome Canary
  transition: all .1s ease; */
}

/* .contentImg:hover {
  filter: none;
  -webkit-filter: grayscale(0);
} */

/* Handling slide-in */
.come-in {
  animation: come-in 1s ease forwards;
}
@keyframes come-in {
  from { transform: translateY(40px);
         opacity: 0; }
  to { transform: translateY(0); 
       opacity: 1; }
}
/* .already-visible {
  transform: translateY(0);
  animation: none;
} */

footer {
  color: white;
  padding: 25px 0 25px 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100;
}
footer a {
  color: white;
  margin-left: 30px;
}
footer a:hover {
  color: #9e9e9e;
}