* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Brandon bold';
  font-weight: bold;
  src: url("/fonts/BrandonText-Bold.otf") format("opentype");
}

.container {
  /* font-family: 'Gentium Basic', serif; */
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

#sectionName {
  /* font-family: 'Passion One', cursive; */
  font-family: 'Brandon bold';
  text-align: center;
}
#sectionName:before, #sectionName:after {
  background-color: #1a1a1a;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 80px;
}
#sectionName:before {
  right: 0.25em;
  margin-left: -50%;
}
#sectionName:after {
  left: 0.25em;
  margin-right: -50%;
}

@media screen and (max-width: 768px) {
  #sectionName {
    font-size: 32px;
  }
  #sectionName:before {
    content: none;
  }
  #sectionName:after {
    display: block;
    left: 0;
    margin: 15px auto;
    position: relative;
    top: 0;
    width: 100px;
  }
}

@media screen and (max-width: 358px) {
  #sectionName {
    font-size: 28px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.sectionContent {
  padding: 20px 0 20px 0;
  justify-content: start;
}
.sectionContent .company, .sectionContent .studies {
  margin: 0;  
  font-family: 'Brandon bold'; /* font-family: 'Passion One', cursive; */
  font-size: 24px;
  color: royalblue;
  text-align: left;
}
.sectionContent .time {
  padding: 0;
  margin: 13px 0 8px 0;
  font-weight: bold;
  font-size: 18px;
  color: green;
}
.sectionContent .place {
  margin-bottom: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .sectionContent {
    justify-content: center;
  }
  .sectionContent .company {
    margin-top: 20px;
    font-size: 22px;
  }
  .sectionContent .studies {
    font-size: 22px;
  }
  .sectionContent .time {
    font-size: 1rem;
  }
}
.contentImg {
  border-radius: 30px;
}

/* Handling slide-in */
.come-in {
  -ms-animation: come-in 1s ease forwards;
      animation: come-in 1s ease forwards;
}
@keyframes come-in {
  from { -webkit-transform: translateY(40px);
            -moz-transform: translateY(40px);
             -ms-transform: translateY(40px);
                 transform: translateY(40px);
         opacity: 0; }
  to { -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
           -ms-transform: translateY(0);
               transform: translateY(0);
       opacity: 1; }
}
/* .already-visible {
  transform: translateY(0);
  animation: none;
} */
#section2 a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
#section2 a:hover {
  color: #666666;
}

footer {
  color: #26262a;
  padding: 80px 0 80px 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
#disclaimer {
  justify-content: center;
  text-align: center;
  font-family: 'Brandon bold';
  font-size: 28px;
}
#disclaimer:after {
  background-color: #333333;
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  position: relative;
  top: 0;
  left: 0;
  margin: 15px auto;
}
#tags {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Brandon bold';
  font-size: 18px;
  margin: 40px 0 0 0;
}
#tags a {
  color: #26262a;
  padding: 0 20px;
  transition: color 0.5s;
  text-decoration: none;
}
#tags a:hover {
  color: #666666;
}
#banner {
  justify-content: center;
  margin: 40px 0 25px 0;
}
footer a div {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 3.4em;
  background-color: #26262a;
  color: white;
  border-radius: 50%;
}
footer a #instagram {
  line-height: 3.2em !important;
}
footer a div:hover {
  background-color: #666666;
}
footer i {
  font-size: 130%;
}

@media screen and (max-width: 768px) {
  #disclaimer {
    font-size: 20px;
  }
  #banner {
    font-size: 14px;
  }
  footer a div {
    height: 40px;
    width: 40px;
    line-height: 2.7em;
  }
  footer a #instagram {
    line-height: 2.5em !important;
  }
  footer i {
    font-size: 110%;
  }
}